@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #0F172A;
  --font-inter: 'Inter', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    @apply bg-white/70 backdrop-blur-lg border-b border-white/20;
  }

  .mesh-gradient {
    background-color: #ffffff;
    background-image: radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%), radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%), radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
    background-image: radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 0.1) 0px, transparent 50%),
      radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 0.1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(340, 100%, 76%, 0.05) 0px, transparent 50%);
  }
}